/*** global ***/
a {
	cursor: pointer;
}

.modal {
	display: none;
}

.modal-body > :last-child {
	margin-bottom: 0;
}


/*** nav ***/
#nav-logo {
	color: #FFF;
	font-family: "Open Sans", sans-serif;
}
#nav-logo > img {
	margin-right: 2px;
	vertical-align: bottom;
}


/*** tiles ***/
#tiles {
	border: 0;
	float: left;
	height: 100vh;
	width: 100vw;
}


/*** theme ***/
#theme-type {
	margin-bottom: 9px;
}
#theme-type > button {
	width: 50%;
}

#theme-css {
	box-sizing: border-box;
	font-family: "DejaVu Sans Mono", monospace;
	width: 100%;
}