/*** global ***/
a {
	cursor: pointer;
}

body {
	background-color: #EEE;
	padding-top: 40px;
}

body > .container {
	display: none;
}
body > .container.active {
	display: block;
}

body > .container {
	background: #FFF;
	padding: 20px;
	border-radius: 0 0 6px 6px;
	box-shadow: inset 1px -1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

body > .container > :last-child {
	margin-bottom: 0;
}


/*** nav ***/
#nav-logo {
	color: #FFF;
	font-family: "Open Sans", sans-serif;
}
#nav-logo > img {
	margin-right: 2px;
	vertical-align: bottom;
}


/*** theme page ***/
#theme {
	font-family: "DejaVu Sans Mono", monospace;
}