body {
	background: #260930;
	height: 70vh;
	margin: 15vh auto;
	position: relative;
	width: 140vh;
}

.tile {
	display: inline-block;
	position: absolute;
}
.tile:hover {
	box-shadow: 0px 0px 5px #FFF;
	outline: 1px solid rgba(255, 255, 255, 0.8);
}